name: Release to Docker and git
on:
  push:
    tags:
       - 'v*'
  workflow_dispatch:  # Add this line
    inputs:
      tag:
        description: 'Version tag to build'
        required: true
        default: 'v1.0.0'


jobs:
  docker:
    name: Release on Docker hub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        
      - name: Debug Environment
        uses: hmarr/debug-action@v3
        
      - name: Extract version from tag
        id: vars
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            VERSION="${{ github.event.inputs.tag }}"
          else
            VERSION=${GITHUB_REF#refs/tags/}
          fi
          echo "tag=${VERSION}" >> $GITHUB_OUTPUT
          echo "builddate=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_OUTPUT

          
      - name: Check output
        env:
          RELEASE_VERSION: ${{ steps.vars.outputs.tag }}
        run: |
          echo "Release version: $RELEASE_VERSION"
          echo "Tag: ${{ steps.vars.outputs.tag }}"
          echo "Build date: ${{ steps.vars.outputs.builddate }}"
          
      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          registry: cr-hn-1.bizflycloud.vn
          name: 31ff9581861a4d0ea4df5e7dda0f665d/karpenter-provider-bizflycloud
          username: ${{ secrets.USER_CLOUD }}
          password: ${{ secrets.PASS }}
          tags: ${{ steps.vars.outputs.tag }},latest
          buildargs: VERSION=${{ steps.vars.outputs.tag }},BUILDDATE=${{ steps.vars.outputs.builddate }}
